.map-container
  position relative

  .form-group
    margin-bottom 0

  .btn
    position absolute
    top: 45px
    left: 30px

.map
  height 200px
  background-color #e5e3df

.mapInput input
  border-bottom-radius 0

