<label>{{name}}</label>

<div class="form-group">
  <div class="map-container">
    <div class="mapInput">
      {{input 'location' value.name placeholder=settings.placeholder}}
    </div>
    <div class="map"></div>
    <a href="#getCurrent" class="btn btn-default btn-sm">Get current location…</a>
  </div>
</div>
