  <label>{{name}}</label>

  <div class="map-container">
    <div class="map"></div>
    <div class="mapInput">
      {{input 'location' value.name placeholder="Address, Zip, City, or Region"}}
    </div>
  </div>

  <style>
    .map-container {
      position: relative;
    }
    .map {
      height: 200px;
      background-color: #e9e5dc;
    }
    .mapInput {
      position: absolute;
      top: 10px;
      right: 8px;
      left: 28px;
    }
  </style>
